<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="css/style.css">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
     <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <script>

$(function(){
    $('#profile_image').change( function(e) {
        
        var img = URL.createObjectURL(e.target.files[0]);
        $('.image').attr('src', img);
    });
});

</script>
    <title>B14rontend</title>

    <script type="text/javascript">
	function addRow() {
		var table=document.getElementById('MyTable');
			var row=table.insertRow(0);
			var cell = row.insertCell(0);
			var row2=table.insertRow(0);
            row2.insertCell(0);
    		inRow();
	}
	function inRow() {
			var table=document.getElementById('MyTable');
			var row=table.insertRow(0);
			var cell1 = row.insertCell(0);
			var td=document.getElementsByTagName("td");
			var x = document.getElementById("MyTable").getElementsByTagName("td");
    		x[0].innerHTML = "hello folks";
    		x[0].style.backgroundColor = "black";
    		document.getElementById("MyTable").insertRow(0);
	}

	function deleteRow(i) {
		var table=document.getElementById('MyTable');
		table.deleteRow(i);
	}

	function displayImg(score) {
		if(score>=90) {
			var c=document.getElementById('dis')
		    c.value="hey";
		}
	}

    function cleartext() {
        document.getElementById('texts').value="";
    }
</script>

</head>


<body>

<style type="text/css">
.tab {
    position: absolute;
    left: 300px;
}
.button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 12px;
}
</style>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a href={%  url 'studentdashboard' %} class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 50px; height: 50px; margin-right: 8px;"> SPORTS MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a href={%  url 'studentdashboard' %} class="nav-link">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentschedules' %} class="nav-link">Schedules</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentcomplaints' %} class="nav-link active">Complaints</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentmatchresults' %} class="nav-link">Matchresults</a>
                </li>
                
            </ul>

            <ul class="navbar-nav ml-auto">
                <li class="nav-item dropdown mr-3">
                    <a href="#" class="nav-link dropdown-toggle" data-toggle="dropdown">
                        <i class="fas fa-user"></i> {{student.student_id}}
                    </a>
                    <div class="dropdown-menu">
                        <a href={%  url 'studentsettings' %} class="dropdown-item">
                            <i class="fas fa-cog"></i> Settings
                        </a>
                    </div>
                </li>
                <li class="nav-item">
                    <a href="{% url 'signout' %}" class="nav-link">
                        <i class="fas fa-user-times"></i> Logout
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
<br>

<style type="text/css">
  textarea
{
width: 200px;
height: 90px;
border-radius: 3px;
border: 1px solid #CCC;
padding: 8px;
font-weight: 200;
font-size: 15px;
font-family: Verdana;
box-shadow: 1px 1px 5px #CCC;
display: inline-block;
}
#circle
{
border-radius:50% 50% 50% 50%;  
width:100px;
height:100px;
}


fieldset { 
    overflow: hidden; 
    display: inline-block;
    width: 500px;
}

label { float: left; width: 20%; }

input { width: 70%; }


.profile-pic {
    border-radius: 50%;
    height: 100px;
    width: 100px;
    background-size: cover;
    background-position: center;
    background-blend-mode: multiply;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic:hover {
    background-color: rgba(0,0,0,.5);
    z-index: 10000;
    color: #fff;
    transition: all .3s ease;
    text-decoration: none;
}

.profile-pic span {
    display: inline-block;
    padding-top: 4.5em;
    padding-bottom: 4.5em;
}
.image{
    width:120px;
    height:120px;
    border-radius:50% 50% 50% 50%;
}

</style>
<section >

      <div class="row">
        &nbsp
  &nbsp
        <div class="w3-card-4" style="width: 68%;background: #e4e4e4">
          <div class="card text-center bg-primary mb-3"  style="width: 100%;">
            <div class="col-md-13" >
                <h1>Settings</h1>
            </div>  
          
          </div>

            
            &nbsp
            <center><div class="card text-center bg-primary text-white mb-3" style="width: 20%;" >
                <h3>Your Details</h3> </div>
            </center>

             
           <!-- <div>
                <div style="float: left;">
                <img src="61789.jpg" class="image" style="float: left;">
                
                <br><br><br><br><br>
                <span style="float: left;"> Change Pro-pic <br><input type="file" id='profile_image' placeholder="change Image"> </input>
                </span>
                </div>

            <div style="float: right;">-->
              <center>
          <form action="{% url 'studentsettings' %}" method="post">
            {%csrf_token %}
          <fieldset>
                <label>Name<span runat="server" ID="required" style="color:Red;" visible="false"> *</span></label>
                {{student.first_name}} {{student.middle_name}} {{student.last_name}}
          </fieldset>
          <br>
          <fieldset>
                <label>Email<span runat="server" ID="required" style="color:Red;" visible="false"> *</span> </label>
                {{student.email}}
          </fieldset>

           <br>
           <fieldset>
                <label>gender<span runat="server" ID="required" style="color:Red;" visible="false"> *</span> </label>
                {{student.gender}}
          </fieldset>

           <br>
           <fieldset>
                <label>Current year<span runat="server" ID="required" style="color:Red;" visible="false"> *</span> </label>
                {{student.current_year}}
          </fieldset>

           <!--<fieldset>
                <label>Available games<span runat="server" ID="required" style="color:Red;" visible="false"> *</span> </label>
                {% for item in sports %}
                    {{item.sport_name}},
                {% endfor %}
          </fieldset>
          
           <br>
           <fieldset>
                <label>Game1<span runat="server" ID="required" style="color:Red;" visible="false"> *</span> </label>
                <input type="text" name="sport1" required style="width: 30%; value={{game1}} ">
          </fieldset>
          <br>
          <fieldset>
                <label>Game2 </label>
                <input type="text" name="sport2" style="width: 30%;">
          </fieldset>
          <br>
          <fieldset>
                <label>Game3 </label>
                <input type="text" name="sport3" style="width: 30%;">
          </fieldset>
          <br>
          <fieldset>
                <label>Game4 </label>
                <input type="text" name="sport4" style="width: 30%;">
          </fieldset>
          <br>
          
           


             <center><button class="button" > Submit</button> </center>-->
            </form></center>
            </div>
            
          
            &nbsp
            
            <div class="w3-card-4" style="width: 30%">
          <div class="card text-center bg-primary text-white mb-3"  >
            <div class="col-md-13">
                <h1>
                    <i class="fas fa-cog"></i> Announcements</h1>
            </div>
          </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>Sender</th>
                  <th>Announcement</th>
                  <th>Sent time</th>
                  <th></th>
                </tr>
              </thead>
            </table>
            <div style="overflow: auto; height: 500px;" >
                
            <table class="table table-striped">
              <tbody >
                {% for item in announcements %}
                <tr >
                  <td>{{ item.sender }}</td>
                  <td>{{ item.message }}</td>
                  <td>{{ item.datetime }}</td>
                </tr>
                {% endfor %}
              </tbody>
              
            </table>

            </div>

        </div>

  </section>


<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy;
                    <span id="year"></span>
                    ProjectB14
                </p>
            </div>
        </div>
    </div>
</footer>




<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

<script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
</script>
</body>

</html>
