{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" integrity="sha384-WskhaSGFgHYWDcbwN70/dfYBj47jz9qbsMId/iRN3ewGhXQFZCSftd1LZCfmhktB"
          crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style1.css'%}">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="{% static 'css/style1.css'%}">
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>

    <title>B14rontend</title>
    <script type="text/javascript">

	function deleteRow(i) {
		var table=document.getElementById('MyTable');
		table.deleteRow(i);
	}

	function displayImg(score) {
		if(score>=90) {
			var c=document.getElementById('dis')
		    c.value="hey";
		}
	}
</script>

</head>


<body>

<style type="text/css">
.tab {
    position: absolute;
    left: 300px;
}
.ch-grid {
  margin: 20px 0 0 0;
  padding: 0;
  list-style: none;
  display: block;
  text-align: center;
  width: 100%;
}

.ch-grid:after,
.ch-item:before {
  content: '';
    display: table;
}

.ch-grid:after {
  clear: both;
}

.ch-grid li {
  width: 220px;
  height: 220px;
display: inline-block;
  margin: 20px;
}
.box
  {
    width: 200px;
    border: 1px solid #9325BC;
    padding: 10px;
    background-color: violet;
  }
  .box:hover
  {
    -moz-box-shadow: 0 0 10px #ccc;
    -webkit-box-shadow: 0 0 10px #ccc;
    box-shadow: 0 0 10px #e4e4e4;
  }

 .hvr-float {
  display: inline-block;
  vertical-align: middle;
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  transition-duration: 0.3s;
  transition-property: transform;
  transition-timing-function: ease-out;
}
.hvr-float:hover,
.hvr-float:focus,
.hvr-float:active {
  transform: translateY(-8px);
}
</style>
<nav class="navbar navbar-expand-sm navbar-dark bg-dark p-0">
    <div class="container">
        <a href={%  url 'studenthome' %} class="navbar-brand"> <img src="https://upload.wikimedia.org/wikipedia/en/thumb/4/49/IIIT_Sri_City_Logo.png/220px-IIIT_Sri_City_Logo.png" style="width: 50px; height: 50px; margin-right: 8px;"> SPORTS MANAGEMENT SYSTEM</a>
        <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav">
                <li class="nav-item px-2">
                    <a href={%  url 'studenthome' %} class="nav-link active">Dashboard</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentschedules' %} class="nav-link">Schedules</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentcomplaints' %} class="nav-link ">Complaints</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentmatchresults' %} class="nav-link">Matchresults</a>
                </li>
                <li class="nav-item px-2">
                    <a href={%  url 'studentsettings' %} class="nav-link">Settings</a>
                </li>
                <li class="nav-item">
                    <a href="login.html" class="nav-link">
                        <i class="fas fa-user-times"></i> Logout
                    </a>
                </li>
                
            </ul>
        </div>
    </div>
</nav>
<br>
<section >
      <div class="row"   >
        &nbsp
  
        <div class="w3-card-4" style="width: 68%;">
          <div class="card text-center bg-primary text-white mb-3"  style="width:100%;">
            <div class="col-md-13" >
                <h1>
                    <i class="fa fa-tachometer-alt"></i> Dashboard</h1>
            </div>  
          </div>
         <center>
          
         <table class="table table-striped" style="width: 65%;float: left;">
              <thead class="thead-dark">
                <tr>
                  <th>S.No</th>
                  <th>Game</th>
                  <th>Role</th>
                  <th>Performance</th>
                </tr>
              </thead>
            </table>
          <div style="overflow: auto; height: 350px;float: left;" >
                
            <table class="table table-striped" style="width: 100%;">
              <tbody >
                {% for item in performance %}
                <tr >
                  <td>{{ item }}</td>
                  <td>{{ item }}</td>
                  <td>{{ item }}</td>
                  <td>{{item}}</td>
                </tr>

                {% endfor %}
              </tbody>
            </table>
             </div>
            </center>
             <ul class="ch-grid">
          <li>
            <div class="ch-item ch-img-1">
              <div class="ch-info">
                <h3>Overall Performance Score :30</h3>
                <p>good work
                Improve further</p>
              </div>
            </div>
          </li>
        </ul>
          <script src="jQuery.ui.datepicker.js"></script>
        

         </div>
         &nbsp  
        <div class="w3-card-4" style="width: 30%">
          <div class="card text-center bg-primary text-white mb-3"  >
            <div class="col-md-13">
                <h1>
                    <i class="fas fa-cog"></i> announcements</h1>
            </div>
          </div>
            <table class="table table-striped">
              <thead class="thead-dark">
                <tr>
                  <th>sender</th>
                  <th>Announcement</th>
                  <th>Sent time</th>
                  <th></th>
                </tr>
              </thead>
            </table>
            <div style="overflow: auto; height: 600px;" >
                
            <table class="table table-striped">
              <tbody >
                {% for item in announcements %}
                <tr >
                  <td>{{ item.sender }}</td>
                  <td>{{ item.message }}</td>
                  <td>{{ item.datetime }}</td>
                </tr>
                {% endfor %}
              </tbody>
              
            </table>

            </div>

          </div>

  </section>

<!-- FOOTER -->
<footer id="main-footer" class="bg-dark text-white mt-5 p-5">
    <div class="container">
        <div class="row">
            <div class="col">
                <p class="lead text-center">
                    Copyright &copy;
                    <span id="year"></span>
                    ProjectB14
                </p>
            </div>
        </div>
    </div>
</footer>



<script src="http://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js" integrity="sha384-smHYKdLADwkXOn1EmN1qk/HfnUcbVRZyYmZ4qpPea6sjB/pTJ0euyQp0Mk8ck+5T"
        crossorigin="anonymous"></script>
<script src="https://cdn.ckeditor.com/4.9.2/standard/ckeditor.js"></script>

<script>
    // Get the current year for the copyright
    $('#year').text(new Date().getFullYear());

    CKEDITOR.replace('editor1');
</script>
</body>

</html>
